.board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 0;
}

button {
  height: 150px;
  width: 150px;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startBtn,
.replayBtn {
  height: 30px;
  width: 90px;
  margin-left: 25px;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.replayDiv {
  margin-top: 12px;
  font-size: 20px;
  font-weight: "bold";
}

.playersInfo {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin-top: -16px;
}

.roundWinner {
  /* background-color: green; */
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 2px;
}

p {
  margin-top: 0;
}
